# Ignora a pasta node_modules
node_modules/

# Ignora arquivos de configuração local
.env

# Ignora arquivos do Git
.git/
.gitignore

# Ignora arquivos de log
*.log

# Ignora arquivos de IDE
.vscode/
.idea/

# Ignora arquivos temporários
tmp/